@page
@model SEP_Management.Areas.Admin.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@* <h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Id" class="control-label"></label>
                <input asp-for="User.Id" class="form-control" />
                <span asp-validation-for="User.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.AvatarUrl" class="control-label"></label>
                <input asp-for="User.AvatarUrl" class="form-control" />
                <span asp-validation-for="User.AvatarUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.RoleId" class="control-label"></label>
                <select asp-for="User.RoleId" class ="form-control" asp-items="ViewBag.RoleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="User.Note" class="control-label"></label>
                <input asp-for="User.Note" class="form-control" />
                <span asp-validation-for="User.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.CreatedBy" class="control-label"></label>
                <input asp-for="User.CreatedBy" class="form-control" />
                <span asp-validation-for="User.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UpdatedBy" class="control-label"></label>
                <input asp-for="User.UpdatedBy" class="form-control" />
                <span asp-validation-for="User.UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.IsActive" class="control-label"></label>
                <input asp-for="User.IsActive" class="form-control" />
                <span asp-validation-for="User.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.AccessToken" class="control-label"></label>
                <input asp-for="User.AccessToken" class="form-control" />
                <span asp-validation-for="User.AccessToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserName" class="control-label"></label>
                <input asp-for="User.UserName" class="form-control" />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.NormalizedUserName" class="control-label"></label>
                <input asp-for="User.NormalizedUserName" class="form-control" />
                <span asp-validation-for="User.NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.NormalizedEmail" class="control-label"></label>
                <input asp-for="User.NormalizedEmail" class="form-control" />
                <span asp-validation-for="User.NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.EmailConfirmed" /> @Html.DisplayNameFor(model => model.User.EmailConfirmed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="User.PasswordHash" class="control-label"></label>
                <input asp-for="User.PasswordHash" class="form-control" />
                <span asp-validation-for="User.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.SecurityStamp" class="control-label"></label>
                <input asp-for="User.SecurityStamp" class="form-control" />
                <span asp-validation-for="User.SecurityStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.ConcurrencyStamp" class="control-label"></label>
                <input asp-for="User.ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="User.ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.User.PhoneNumberConfirmed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.User.TwoFactorEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="User.LockoutEnd" class="control-label"></label>
                <input asp-for="User.LockoutEnd" class="form-control" />
                <span asp-validation-for="User.LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.LockoutEnabled" /> @Html.DisplayNameFor(model => model.User.LockoutEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="User.AccessFailedCount" class="control-label"></label>
                <input asp-for="User.AccessFailedCount" class="form-control" />
                <span asp-validation-for="User.AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div> *@



@* <%
            Vector<User> vector = (Vector<User>) request.getAttribute("data");
            ResultSet Rs = (ResultSet) request.getAttribute("Rs");
        %> *@


        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>

<div class="container-fluid">
    <div class="layout-specing">
        <div class="d-md-flex justify-content-between">
            <h5 class="mb-0">Add New User</h5>

            <nav aria-label="breadcrumb" class="d-inline-block mt-4 mt-sm-0">
                <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                    <li class="breadcrumb-item"><a asp-page="./Index">User Management</a></li>
                    <li class="breadcrumb-item"><a asp-page="./Index">User List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add New User</li>
                </ul>
            </nav>
        </div>

        <div class="row d-flex justify-content-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-lg-9 mt-5 ">
                <div class="card border-0 p-4 rounded shadow ">
                    <form id="add-form" method ="post" enctype="multipart/form-data">
                        <div class="row " class="mt-4">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="name">Full Name<span class="text-danger">*</span></label>
                                    <input asp-for="User.FullName" id="name" type="text" required class="form-control" placeholder="Full Name :">
                                </div>
                            </div><!--end col-->


                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="email">Your Email<span class="text-danger">*</span></label>
                                    <input asp-for="User.Email" id="email" type="email" required class="form-control" placeholder="Your email :">
                                </div> 
                            </div><!--end col-->

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="phone">Phone number<span class="text-danger">*</span></label>
                                    <input asp-for="User.PhoneNumber" id="phone" type="text" class="form-control" placeholder="Phone number :">
                                </div>                                                                               
                            </div><!--end col-->

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="role">Role</label>
                                    <select asp-for="User.RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                                </div>
                            </div><!--end col-->



                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label" for="note">Note</label>
                                    <textarea asp-for="User.Note" id="note" rows="3" class="form-control" placeholder="Note :"></textarea>
                                </div>
                            </div>
                            <span id="error"></span>
                            <div class="col-md-12 d-grid">
                            <button id="btn-add" type="submit" class="btn btn-primary"/>Add user</button>
                            </div>

                        </div>

                    </form>


                </div>
            </div><!--end col-->

                            
        </div><!--end row-->
    </div>
</div><!--end container-->



                <!-- javascript -->
                <script src="assests/js/jquery.min.js"></script>
                <script src="assests/js/bootstrap.bundle.min.js"></script>
                <!-- simplebar -->
                <script src="assests/js/simplebar.min.js"></script>
                <!-- Select2 -->
                <script src="assests/js/select2.min.js"></script>
                <script src="assests/js/select2.init.js"></script>
                <!-- Icons -->
                <script src="assests/js/feather.min.js"></script>
                <!-- Main Js -->
                <script src="assests/js/app.js"></script>
                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

                <script>

                    function validateEmail(email) {
                        var emailRegex = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
                        return emailRegex.test(email);
                    }

                    // Function to validate the phone number format (you can customize it based on your requirements)
                    function validatePhoneNumber(phoneNumber) {
                        // Regular expression for a valid phone number (10 digits)
                        var phoneRegex = /^0\d{9}$/;

                        return phoneRegex.test(phoneNumber);
                    }

                    function validateName(name) {
                        // Regular expression to match only letters (A-Z, a-z)
                        var nameRegex = /^[A-Za-z\s]+$/;

                        return nameRegex.test(name);
                    }
                    function validatePassword(pass) {
                        // Regular expression to match only letters (A-Z, a-z)
                        var passRegex = /^(?=.*[A-Z])(?=.*[!@@#$%^&*()_+{}\[\]:;<>,.?~\\-]).{8,}$/;
                        return passRegex.test(pass);
                    }


                    function displayMessage(message) {
                        // Display the message to the user (e.g., using Toastify or another notification library)
                        Toastify({
                            text: message,
                            duration: 3000, // 3 seconds
                            close: true,
                            gravity: "right",
                            backgroundColor: "#f8d7da",
                            style: {
                                color: "#58151c"
                            }
                        }).showToast();
                    }

                    async function checkExistence(type, value) {
                        return new Promise(function (resolve, reject) {
                            $.ajax({
                                type: "POST",
                                url: "./verify",
                                data: {
                                    email: type === "email" ? value : "",
                                    phone: type === "phone" ? value : ""
                                },
                                success: function (data) {
                                    resolve(data); // Resolve the promise with the received data
                                },
                                error: function () {
                                    reject("Error occurred"); // Reject the promise if there's an error
                                }
                            });
                        });
                    }

                    async function validateForm() {
                        var name = document.getElementById("name").value;
                        var email = document.getElementById("email").value;
                        var phone = document.getElementById("phone").value;
                        var error = document.getElementById("error");

                        var check = true;
                        try {
                            const emailData = await checkExistence("email", email);

                            if (emailData.emailExists) {
                                error.textContent = "Email has existed!";
                                error.style.color = "red";
                                check = false;
                            }

                            if (!emailData.domainExists) {
                                error.textContent = "Email domain is not allowed!";
                                error.style.color = "red";
                                check = false;
                            }
                            const phoneData = await checkExistence("phone", phone);
//                    alert(emailData.emailExists +" "+phoneData.phoneExists);
                            if (phoneData.phoneExists) {
                                error.textContent = "Phone has existed!";
                                error.style.color = "red";
                                check = false;
                            }
                        } catch (error) {
                            console.error(error); // Handle any errors that occurred during the AJAX calls
                        }

                        // Basic validation for the "Name" field (non-empty)
                        if (name.trim() === "" || !validateName(name)) {
                            error.textContent = "Please enter a valid name!";
                            error.style.color = "red";
                            check = false;
                        }

                        // Basic validation for the "Email Address" field (non-empty and valid email format)
                        if (email.trim() === "" || !validateEmail(email)) {
                            error.textContent = "Please enter a valid email!";
                            error.style.color = "red";
                            check = false;
                        }

                        // Basic validation for the "Phone Number" field (non-empty and valid phone format)
                        if (phone.trim() === "" || !validatePhoneNumber(phone)) {
                            error.textContent = "Please enter a valid phone number (10 digits)!";
                            error.style.color = "red";
                            check = false;
                        }

                        // Basic validation for the "Confirm Password" field (non-empty and matching the "Password" field)
                        return check;
                    }



                    // Attach the form validation function to the form's submit event
                    const verify_btn = document.getElementById('btn-add');
                    verify_btn.addEventListener('click', () => {
                        event.preventDefault();

                        validateForm().then(function (checkValue) {
                            // Here, checkValue will be the final result of the form validation
                            if (checkValue) {
                                document.getElementById("add-form").submit();
                            }
                        });
                    });
                </script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
