@using Microsoft.AspNetCore.Identity
@using SEP_Management.Models
@using Microsoft.AspNetCore.Authorization
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService

@{
    var user = UserManager.GetUserAsync(User).Result;
    var role = string.Empty;
    if (user != null)
    {
        role = UserManager.GetRolesAsync(user).Result.First();
    }

}
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content" data-simplebar style="height: calc(100% - 60px);">
            <div class="sidebar-brand  ">
                <a href="" class="d-flex justify-content-center">
                    <img src="assests/images/logo.png" width="140" height="60" class="logo-light-mode" alt="">
                </a>
            </div>
        @if (role == "14")
        {
            <ul class="sidebar-menu pt-3">

                <li><a href="UserController?service=listAll"><i class="uil uil-user me-2 d-inline-block"></i>User Management</a></li>
                <li><a href="SubjectController"><i class="uil uil-book-alt me-2 d-inline-block"></i>Subject Management</a></li>
                <li><a href="ClassController"><i class="uil uil-users-alt me-2 d-inline-block"></i>Class Management</a></li>
                <li><a href="ManageProjectController"><i class="uil uil-clipboard-notes me-2 d-inline-block"></i>Project Management</a></li>
                <li><a href="SystemSettingController"><i class="uil uil-setting me-2 d-inline-block"></i>Setup System Settings</a></li>
            </ul>
        }else if(role == "15")
        {
            <ul class="sidebar-menu pt-3">
                <li><a href="manageSubjectController"><i class="uil uil-book-alt me-2 d-inline-block"></i>Subject Management</a></li>
                <li><a href="ClassController"><i class="uil uil-users-alt me-2 d-inline-block"></i>Class Management</a></li>
                <li><a href="ManageProjectController"><i class="uil uil-clipboard-notes me-2 d-inline-block"></i>Project Management</a></li>
            </ul>
        }else if(role == "16")
        {
            <ul class="sidebar-menu pt-3">
                <li><a href="ClassController"><i class="uil uil-users-alt me-2 d-inline-block"></i>Class Management</a></li>
                <li><a href="ManageProjectController"><i class="uil uil-clipboard-notes me-2 d-inline-block"></i>Project Management</a></li>
            </ul>
        }else if(role == "18")
        {
            <ul class="sidebar-menu pt-3">
                <li><a href="ManageProjectController"><i class="uil uil-clipboard-notes me-2 d-inline-block"></i>Project Management</a></li>
            </ul>
        }
        else if (role == "19")
        {
            <ul class="sidebar-menu pt-3">
                <li><a href="Dashboard"><i class="uil uil-clipboard-notes me-2 d-inline-block"></i>Dashboard</a></li>
            </ul>
        }
        </div>
        <div class="sidebar-footer" ">
        @if (role == " 14") {
                <p>Login as Admin</p>
        } else if (role == "16") {
                <p>Login as Class Manager</p>
        } else if (role == "15")
        {
        <p>Login as Subject Manager</p>
        }else if(role == "18")
        {
            <p>Login as Project Mentor</p>
        }else if(role == "19")
        {
                <p>Login as Student</p>
        }
        </div>
    </nav>
