@using Microsoft.AspNetCore.Identity
@using SEP_Management.Models
@using Microsoft.AspNetCore.Authorization
@inject SignInManager<User> SignInManager

@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService



@if (SignInManager.IsSignedIn(User)
   && (await authorizationService.AuthorizeAsync(User, "AdminDropdown")).Succeeded)
{
    <ul class="nav nav-pills nav-justified flex-column flex-sm-row rounded shadow overflow-hidden bg-light"
        id="pills-tab" role="tablist">

        <li class="nav-item">
            <a class="nav-link rounded-0" id="nav-class-setting"
               href="ClassController?service=updateClass&cid=${assignClass.classId}" role="tab">
                <div class="text-center pt-1 pb-1">
                    <h4 class="title fw-normal mb-0">Class Setting</h4>
                </div>
            </a><!--end nav link-->
        </li><!--end nav item-->
        <li class="nav-item">
            <a class="nav-link rounded-0" id="nav-class-milestones"
               href="classManager?mode=classMilestone&classId=${assignClass.classId}" role="tab">
                <div class="text-center pt-1 pb-1">
                    <h4 class="title fw-normal mb-0">Class Assignments</h4>
                </div>
            </a><!--end nav link-->
        </li><!--end nav item-->
        <li class="nav-item">
            <a class="nav-link rounded-0" id="nav-class-students"
               href="classManager?mode=classStudent&classId=${assignClass.classId}" role="tab">
                <div class="text-center pt-1 pb-1">
                    <h4 class="title fw-normal mb-0">Class Students</h4>
                </div>
            </a><!--end nav link-->
        </li><!--end nav item-->
        <li class="nav-item">
            <a class="nav-link rounded-0" id="nav-class-issue"
               href="IssueSettingController?service=displayClassSetting&classId=${assignClass.classId}&subjectID=${assignClass.subject}&mode=class" role="tab">
                <div class="text-center pt-1 pb-1">
                    <h4 class="title fw-normal mb-0">Issue Setting</h4>
                </div>
            </a><!--end nav link-->
        </li><!--end nav item-->



    </ul>

    <!--end nav pills-->
}