<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SEP_Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SEP_Management.styles.css" asp-append-version="true" />

    <!-- favicon -->
    <link rel="shortcut icon" href="assests/images/logo.png">
    <!-- Bootstrap -->
    <link href="~/assests/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- simplebar -->
    <link href="~/assests/css/simplebar.css" rel="stylesheet" type="text/css" />
    <!-- Select2 -->
    <link href="~/assests/css/select2.min.css" rel="stylesheet" />
    <!-- Date picker -->
    <link rel="stylesheet" href="~/assests/css/flatpickr.min.css">
    <link href="~/assests/css/jquery.timepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons -->
    <link href="~/assests/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assests/css/remixicon.css" rel="stylesheet" type="text/css" />
    <link href="https://unicons.iconscout.com/release/v3.0.6/css/line.css" rel="stylesheet">
    <!-- Css -->
    <link href="~/assests/css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/assests/images/logo.png" width="140" height="60" class="logo-light-mode" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between m-10">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
        @* @await Html.PartialAsync("_AdminSideBar")  *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("_Footer")


    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Footer Start -->
    <!--end footer-->
    <script src="~/assests/js/jquery.min.js"></script>
    <script src="~/assests/js/bootstrap5.0.bundle.min.js"></script>
    <!-- simplebar -->
    <script src="~/assests/js/simplebar.min.js"></script>
    <!-- Select2 -->
    <script src="~/assests/js/select2.min.js"></script>
    <script src="~/assests/js/select2.init.js"></script>
    <!-- Datepicker -->
    <script src="~/assests/js/flatpickr.min.js"></script>
    <script src="~/assests/js/flatpickr.init.js"></script>
    <!-- Datepicker -->
    <script src="~/assests/js/jquery.timepicker.min.js"></script>
    <script src="~/assests/js/timepicker.init.js"></script>
    <!-- Icons -->
    <script src="~/assests/js/feather.min.js"></script>
    <!-- Main Js -->
    <script src="~/assests/js/app.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>