@page
@model SEP_Management.Areas.Admin.Pages.Systems.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>SystemSetting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SystemSetting.SettingGroup" class="control-label"></label>
                <input asp-for="SystemSetting.SettingGroup" class="form-control" />
                <span asp-validation-for="SystemSetting.SettingGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSetting.SettingName" class="control-label"></label>
                <input asp-for="SystemSetting.SettingName" class="form-control" />
                <span asp-validation-for="SystemSetting.SettingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSetting.DisplayOrder" class="control-label"></label>
                <input asp-for="SystemSetting.DisplayOrder" class="form-control" />
                <span asp-validation-for="SystemSetting.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSetting.Description" class="control-label"></label>
                <input asp-for="SystemSetting.Description" class="form-control" />
                <span asp-validation-for="SystemSetting.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSetting.IsActive" class="control-label"></label>
                <input asp-for="SystemSetting.IsActive" class="form-control" />
                <span asp-validation-for="SystemSetting.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSetting.CreatedBy" class="control-label"></label>
                <input asp-for="SystemSetting.CreatedBy" class="form-control" />
                <span asp-validation-for="SystemSetting.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSetting.UpdatedBy" class="control-label"></label>
                <input asp-for="SystemSetting.UpdatedBy" class="form-control" />
                <span asp-validation-for="SystemSetting.UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
