@page
@model LoadXML_RazorPage.Pages.Persons.UploadModel
@{
}


<form method="post" enctype="multipart/form-data">
    <input type="file" name="fl" /> <br />
    <button type="submit">Submit</button>
</form>
