@page
@model SEP_Management.Areas.SubjectManager.Pages.IndexModel
@{
}
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<div class="container-fluid">
    <div class="layout-specing">
        <div class="d-md-flex justify-content-between">
            <h5 class="mb-0">Portal Management System</h5>

            <nav aria-label="breadcrumb" class="d-inline-block mt-4 mt-sm-0">
                <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                    <li class="breadcrumb-item"><a href="#">CLASS </a></li>
                    <li class="breadcrumb-item active" aria-current="page">DASHBOARD</li>
                </ul>
            </nav>
        </div>
        <h1>Content here</h1>
    </div>
</div>