@using Learning_Razor_ViewComponent_ViewPartial.Models
@model Product

<div class="card my-4" style="width: 20rem">
    <h2 class="card-header">@Model.Name</h2>
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Model.Price</p>
        <a href="" class="btn btn-secondary btn-sm">Order</a>
    </div>
</div>